DB_USER=pet_admin
DB_PASSWORD=pet_password
DB_NAME=pet_platform_db
DATABASE_URL="postgresql://pet_admin:pet_password@localhost:5432/pet_platform_db?schema=public"

MINIO_USER=admin
MINIO_PASSWORD=password123
S3_ENDPOINT=localhost
S3_PORT=9000